version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "think-twice-lambda"
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = false
resolve_s3 = true
